.post {
  width: 18%;
  padding: 16px;
  text-align: center;
  border: 1px solid #93d89f;
  border-radius: 3px;
  margin: 10px;
  box-sizing: border-box;
  background: #e5f5ea;
  cursor: pointer;
}

.post h1 {
  color: #27b049;
}

.author {
  margin: 16px 0;
  color: #9ec991;
}
